<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" [@slideInOutAnimation]>
      <div class="media">
        <div class="media-left">
          <img src="../assets/duke.jpg" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Duke University</strong></h4>
          <p>Masters in Engineering Management<br />August 2018 - Dec 2019</p>
        </div>
        <div class="media-right media-top">
          <p><strong>GPA:</strong>4/4 </p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" [@slideInOutAnimation1]>
      <div class="media">
        <div class="media-left">
          <img src="../assets/vce.jpg" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Vasavi College of Engineering</strong></h4>
          <p>Bachelor of Engineering, Computer Science <br />October 2012 - May 2016</p>
        </div>
        <div class="media-right media-top">
          <p><strong>GPA:</strong>3.8/4</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
  </div>
</div>